* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-frame {
  width: 40vw;
  min-width: 695px;
  aspect-ratio: 1 / 1.05;
  background-color: rgb(11, 36, 52);
  padding: 3rem 2.25rem;
}


.main-box {
  width: 100%;
  height: 100%;
  background-color: rgb(242, 241, 241);
  border-radius: 10px;
  padding: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.game-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.content-details {
  color: rgb(74, 78, 116);
  font-size: 2rem;
  text-align: center;
}

.record-div {
  display: flex;
  justify-content: space-between;
  padding: 0 calc(0.25rem + 0.7vw);
  color: rgb(151, 45, 45);
  font-size: 2rem;
  font-weight: 700
}

.record-info {
  font-size: 1.5rem;
  padding-top: 10px;
  color: gray;
  font-weight: normal
}

.box-numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.box {
  font-weight: 700;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(213, 211, 211);
  border-radius: 10px;
  cursor: pointer;
  font-size: 3rem;
  padding: 0.5rem;
}

.held {
  background-color: rgb(89, 227, 145);
}


.dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
}

.dice-1 {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-2 {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dice-2 .dot:nth-of-type(2) {
  display: flex;
  align-self: flex-end;
}

.dice-3 {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;

}

.dice-3 .dot:nth-of-type(2) {
  align-self: center;
}

.dice-3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.dice-4 {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.dice-4 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice-5 {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.dice-5 .column:nth-of-type(2) {
  justify-content: center;
}

.dice-5 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice-6 {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.dice-6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roll-button {
  width: 11rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(80, 53, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  aspect-ratio: 3 / 1;
  margin: auto;
  cursor: pointer;
}

.new-game-button {
  width: 13rem;
}

@media screen and (max-width: 2130px) {
  .game-box {
    gap: 1.5rem
  }

  .record-div {
    font-size: 1.5rem;
  }

  .record-info {
    font-size: 1.15rem;
  }
}



@media screen and (max-width: 690px) {
  .main-frame {
    min-width: 100vw;
  }

  .main-box {
    padding: 3.5rem;
  }

  .game-box {
    gap: 2rem;
  }

  .content-head {
    font-size: 2rem;
  }

  .content-details {
    font-size: 1.25rem;
  }

  .record-div {
    font-size: 1.15rem;
  }

  .record-info {
    font-size: 0.75rem;
  }

  .box-numbers {
    gap: 1rem
  }

  .box {
    font-size: 2.5rem;
  }

  .roll-button {
    width: 7rem;
    font-size: 1.5rem;
  }

  .new-game-button {
    width: 10.5rem;
  }
}

@media screen and (max-width: 575px) {
  .container {
    align-items: baseline;
  }

  .main-box {
    padding: 3rem;
  }

  .game-box {
    gap: 1.5rem;
  }

  .content-head {
    font-size: 1.75rem;
  }

  .content-details {
    font-size: 1rem;
  }

  .box-numbers {
    gap: 0.75rem
  }

  .box {
    font-size: 2rem;
  }

  .roll-button {
    width: 7rem;
    font-size: 1.5rem;
  }

  .new-game-button {
    width: 9.75rem;
  }

  .dot {
    width: 9px;
    height: 9px;
  }
}

@media screen and (max-width: 500px) {
  .main-box {
    padding: 2.5rem;
  }

  .game-box {
    gap: 0.75rem;
  }

  .content-head {
    font-size: 1.5rem;
  }

  .content-details {
    font-size: 1rem;
  }

  .record-div {
    font-size: 1rem;
  }

  .record-info {
    font-size: 0.60rem;
  }

  .box-numbers {
    gap: 0.5rem
  }

  .box {
    font-size: 1.75rem;
  }

  .roll-button {
    width: 7rem;
    font-size: 1.5rem;
  }

  .new-game-button {
    width: 9.5rem;
  }

  .dot {
    width: 7px;
    height: 7px;
  }
}


@media screen and (max-width: 450px) {
  .main-box {
    padding: 2rem;
  }

  .game-box {
    gap: 0.35rem;
  }

  .content-head {
    font-size: 1.25rem;
  }

  .content-details {
    font-size: 1rem;
  }

  .box-numbers {
    gap: 0.5rem
  }

  .box {
    font-size: 1.3rem;
  }

  .roll-button {
    width: 6rem;
    font-size: 1.25rem;
  }

  .new-game-button {
    width: 8.5rem;
  }
}

@media screen and (max-width: 400px) {
  .main-box {
    padding: 0.75rem;
  }

  .game-box {
    gap: 0.35rem;
  }

  .content-head {
    font-size: 1rem;
  }

  .content-details {
    font-size: 0.75rem;
  }

  .box-numbers {
    gap: 0.3rem
  }

  .box {
    font-size: 1.15rem;
  }

  .roll-button {
    width: 5rem;
    font-size: 1rem;
  }

  .new-game-button {
    width: 7rem;
  }
}

@media screen and (max-width: 350px) {
  .main-box {
    padding: 0.3rem;
  }

  .game-box {
    gap: 0.2rem;
  }

  .content-head {
    font-size: 0.75rem;
  }

  .content-details {
    font-size: 0.6rem;
  }

  .record-div {
    font-size: 0.65rem;
  }

  .record-info {
    font-size: 0.5rem;
  }

  .box-numbers {
    gap: 0.3rem
  }

  .box {
    font-size: 1rem;
  }

  .roll-button {
    width: 4rem;
    font-size: 0.75rem;
  }

  .new-game-button {
    width: 6rem;
  }

  .dot {
    width: 6px;
    height: 6px;
  }
}